<% layout("layouts/boilerplate") %> <% if (process.env.NODE_ENV !== "production") {%> <%console.log("DEVELOPMENT MODE");%> <% console.log(process.env.NODE_ENV) %>
<script src="https://www.paypal.com/sdk/js?client-id=Ace9664OgqqECcp2n2RicpH8zLxcJu3lKU0X8Spf-q1YkNoWUx3GvGwff89CRTzjCbYcvG6dCFSar8Zs"></script>
<% } else {%>
<script src="https://www.paypal.com/sdk/js?client-id=<%= process.env.PAYPAL_CLIENT_ID%>"></script>
<% }%>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const quantityInputs = document.querySelectorAll(".stockCountInput");

    quantityInputs.forEach((input) => {
      let maxStock = parseInt(input.getAttribute("max"), 10);
      let currentQuantity = parseInt(input.value, 10);

      if (currentQuantity > maxStock) {
        input.value = maxStock; // Adjusts the quantity to max stock if over
      }
    });
  });
</script>
<link rel="stylesheet" href="/css/cart.css" class="rel" />

<h1 class="mt-5">Shopping Cart</h1>

<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <!-- <ul>
    <% cart.items.forEach(function(item) { %>
    <li>
      Name: <%= item.product.name %><br />
      Description: <%= item.product.description %><br />
      Price: <%= item.product.price %><br />
      Quantity: <%= item.quantity %>
    </li>
    <% }); %>
  </ul> -->
  <% let subTotal = 0; %> <% cart.items.forEach(function(item) { %>

  <div class="product">
    <div class="product-image">
      <% if (item.product.images[0] && item.product.images[0].url) { %>
      <img src="<%= item.product.images[0].url%>" />
      <% } else { %>
      <img src="https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" />
      <% } %>
      <!-- <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg" /> -->
    </div>
    <div class="product-details">
      <div class="product-title"><%= item.product.name %></div>
      <p class="product-description"><%= item.product.description %></p>
    </div>
    <div class="product-price"><%= item.product.price %></div>
    <div class="product-quantity">
      <form action="/cart/<%=item.product._id%>/update" method="POST" class="d-flex">
        <div class="product-quantity">
          <!-- <input type="number" value="<%= item.quantity %>" min="1" max="<%= item.product.stockCount %>" /> -->
          <input value="<%= item.quantity %>" name="quantity" class="stockCountInput" type="number" step="1" min="1" max="<%= item.product.stockCount %>" class="number-input" />
          <!-- <input type="number" value="1" min="1" max="item.product.stock" /> -->
        </div>
        <button class="mx-2 change-quantity">Update</button>
      </form>
    </div>
    <div class="product-removal">
      <form action="/cart/<%=item.product._id%>/remove" method="POST">
        <button class="remove-product">Remove</button>
      </form>
    </div>
    <div class="product-line-price"><%= (item.quantity * item.product.price).toFixed(2) %></div>
  </div>
  <% subTotal += item.quantity * item.product.price; %> <% }) %>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal"><%= subTotal %></div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax"><%= (subTotal * .05).toFixed(2) %></div>
    </div>

    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <% let grandTotal = (subTotal * 1.05).toFixed(2) %>

      <div class="totals-value" id="cart-total"><%= grandTotal %></div>
    </div>
  </div>
  <!-- <button class="checkout" current-user="<%= JSON.stringify(currentUser) %>" data-cart-items="<%= JSON.stringify(cart.items.map(item => ({ id: item.product._id, quantity: item.quantity }))) %>">Checkout</button> -->

  <div class="row">
    <div class="col-lg-4">
      <!-- Your totals content here -->
    </div>
    <div class="col-lg-8 justify-content-end">
      <div current-user="<%=JSON.stringify(currentUser) %>" data-cart-items="<%= JSON.stringify(cart.items.map(item => ({ id: item.product._id, quantity: item.quantity }))) %>" id="paypal-button-container"></div>
    </div>
  </div>

  <script>
    var grandTotal = "<%= grandTotal %>";
    const button = document.querySelector("#paypal-button-container"); // Use querySelector instead

    paypal
      .Buttons({
        createOrder: function (data, actions) {
          // Set up the transaction
          return actions.order.create({
            purchase_units: [
              {
                amount: {
                  value: grandTotal, // Can dynamically set the total amount here
                },
              },
            ],
          });
        },
        onApprove: function (data, actions) {
          // Capture the funds from the transaction
          return actions.order.capture().then(function (details) {
            const cartItems = JSON.parse(button.getAttribute("data-cart-items"));
            const currentUser = JSON.parse(button.getAttribute("current-user"));

            // Show a success message to the buyer
            fetch("/paypal", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                cartItems: cartItems,
                currentUser: currentUser,
              }),
            });
            window.location.href = "/products?success=true";
          });
        },
      })
      .render("#paypal-button-container");
  </script>

  <!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    alert("HI");
    const button = document.querySelector(".checkout"); // Use querySelector instead
    const stripe = Stripe("pk_test_51OsxpiKUdAWFlxominpWZMk8mgML54sMMhObcU0coGUJKK9unpB8pcOLB01gdmq3ozIhzZzvmh7Y8QnzfHzKXa8c00UrXZYB63");
    alert("HI2");
    button.addEventListener("click", async () => {
      alert("YOO");
      // Ensure 'cart' is defined and accessible here
      const cartItems = cart.items.map(function (item) {
        return { id: item.product._id, quantity: item.quantity };
      });
      const response = await fetch("/create-checkout-session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ cartItems: cartItems }),
      });
      const session = await response.json();
      console.log(session.id);
      stripe.redirectToCheckout({ sessionId: session.id });
    });
  });
</script> -->

  <!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.querySelector(".checkout");
    const stripe = Stripe("your_publishable_key_here");
    button.addEventListener("click", async () => {
      const cartItems = cart.items.map(function (item) {
        return { id: item.product._id, quantity: item.quantity };
      });
      const response = await fetch("/create-checkout-session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        // Ensure yourCartItemsArray is defined and accessible

        body: JSON.stringify({ cartItems: cartItems }),
      });
      const session = await response.json();
      stripe.redirectToCheckout({ sessionId: session.id });
    });
  });
</script> -->
</div>
