<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/cart.css" class="rel" />

<h1 class="mt-5">Shopping Cart</h1>

<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <ul>
    <% cart.items.forEach(function(item) { %>
    <li>
      Name: <%= item.product.name %><br />
      Description: <%= item.product.description %><br />
      Price: <%= item.product.price %><br />
      Quantity: <%= item.quantity %>
    </li>
    <% }); %>
  </ul>
  <% let subTotal = 0; %> <% cart.items.forEach(function(item) { %>

  <div class="product">
    <div class="product-image">
      <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg" />
    </div>
    <div class="product-details">
      <div class="product-title"><%= item.product.name %></div>
      <p class="product-description"><%= item.product.description %></p>
    </div>
    <div class="product-price"><%= item.product.price %></div>
    <div class="product-removal">
      <% console.log("fsdfdsfsdfs", item.product._id) %>
      <form action="">
        <div class="product-quantity">
          <!-- <input type="number" value="<%= item.quantity %>" min="1" max="<%= item.product.stockCount %>" /> -->
          <input value="<%= item.quantity %>" name="quantity" id="stockCountInput" type="number" step="1" min="1" max="<%= item.product.stockCount %>" class="number-input" />
          <!-- <input type="number" value="1" min="1" max="item.product.stock" /> -->
        </div>
        <button class="change-quantity">Update</button>
      </form>
    </div>
    <% console.log("HISDHIOFJSDPJf"); %>
    <div class="product-removal">
      <% console.log("fsdfdsfsdfs", item.product._id) %>
      <form action="/cart/<%=item.product._id%>/remove" method="POST">
        <button class="remove-product">Remove</button>
      </form>
    </div>
    <div class="product-line-price"><%= (item.quantity * item.product.price).toFixed(2) %></div>
  </div>
  <% subTotal += item.quantity * item.product.price; %> <% }) %>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal"><%= subTotal %></div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax"><%= (subTotal * .05).toFixed(2) %></div>
    </div>

    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total"><%= (subTotal * 1.05).toFixed(2) %></div>
    </div>
  </div>
  <% console.log(JSON.stringify(cart.items.map(item => ({ id: item.product._id, quantity: item.quantity })))) %>
  <button class="checkout" data-cart-items="<%= JSON.stringify(cart.items.map(item => ({ id: item.product._id, quantity: item.quantity }))) %>">Checkout</button>
</div>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    alert("HI");
    const button = document.querySelector(".checkout"); // Use querySelector instead
    const stripe = Stripe("pk_test_51OsxpiKUdAWFlxominpWZMk8mgML54sMMhObcU0coGUJKK9unpB8pcOLB01gdmq3ozIhzZzvmh7Y8QnzfHzKXa8c00UrXZYB63");
    alert("HI2");
    button.addEventListener("click", async () => {
      alert("YOO");
      // Ensure 'cart' is defined and accessible here
      const cartItems = cart.items.map(function (item) {
        return { id: item.product._id, quantity: item.quantity };
      });
      const response = await fetch("/create-checkout-session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ cartItems: cartItems }),
      });
      const session = await response.json();
      console.log(session.id);
      stripe.redirectToCheckout({ sessionId: session.id });
    });
  });
</script> -->

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.querySelector(".checkout");
    const stripe = Stripe("your_publishable_key_here");
    button.addEventListener("click", async () => {
      const cartItems = cart.items.map(function (item) {
        return { id: item.product._id, quantity: item.quantity };
      });
      const response = await fetch("/create-checkout-session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        // Ensure yourCartItemsArray is defined and accessible

        body: JSON.stringify({ cartItems: cartItems }),
      });
      const session = await response.json();
      stripe.redirectToCheckout({ sessionId: session.id });
    });
  });
</script> -->
