<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Edit Product</h1>
  <!-- middle of 6 col-->
  <div class="col-md-6 offset-md-3">
    <form action="/products/<%=product._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="name">Product Name</label>
        <input class="form-control" type="text" value="<%= product.name %>" id="name" name="product[name]" required />
        <!-- validation text thru bootstrap -->
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Other fields for image, price, description -->
      <div class="features-container mb-3">
        <label class="form-label">Features</label>
        <% if (product.features && product.features.length > 0) { %> <% product.features.forEach(function(feature, index) { %>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="features[]" value="<%= feature %>" />
          <button class="btn btn-danger remove-feature" style="width: 35px" type="button">-</button>
        </div>
        <% }); %> <% } %>
        <button class="btn btn-info add-feature" type="button">Add More Features</button>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Product Price</label>

        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" value="<%= product.price %>" ="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="product[price]" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="stockCount">Stock Count</label>

        <div class="input-group">
          <span class="input-group-text" id="stockCount-label">#</span>
          <input value="<%= product.stockCount %>" type="number" step="1" min="0" class="form-control" id="stockCount" placeholder="0.00" aria-label="stockCount" aria-describedby="stockCount-label" name="product[stockCount]" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="product[description]" required><%= product.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Choose Image</label>
        <div class="form-file custom-file">
          <!-- removed multiple -->
          <input class="form-control custom-file-input" type="file" id="image" name="image" />
          <label for="image" class="form-label custom-file-label"></label>
        </div>
        <div id="formFile"></div>
      </div>

      <div class="mb-3">
        <h6>Delete Images:</h6>
        <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
          <% product.images.forEach((image, i) => { %>
          <div class="col">
            <div class="card">
              <label for="image-<%= i %>"
                ><img class="card-img" src="<%= image.thumbnail %>" alt="" />
                <!-- using the image virtual property for image sizing -->
                <div class="card-img-overlay text-end pt-1 pe-2">
                  <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= image.filename %>" id="image-<%= i %>" />
                </div>
              </label>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Product</button>
      </div>
    </form>
    <a href="/products/<%= product._id %>">Back To Product</a>
  </div>
</div>
